In [162]:
import numpy as np
import pandas as pd
import json
import re

In [163]:
# load json as dict
with open('/Users/khnhkd/WorkSpace/python_proj/real-estate-trading-/crawl-data-bds/data/data_thread_1.json') as json_file:
    dict_1 = json.load(json_file)

with open('/Users/khnhkd/WorkSpace/python_proj/real-estate-trading-/crawl-data-bds/data/data_thread_2.json') as json_file:
    dict_2 = json.load(json_file)

with open('/Users/khnhkd/WorkSpace/python_proj/real-estate-trading-/crawl-data-bds/data/data_thread_3.json') as json_file:
    dict_3 = json.load(json_file)

with open('/Users/khnhkd/WorkSpace/python_proj/real-estate-trading-/crawl-data-bds/data/data_thread_4.json') as json_file:
    dict_4 = json.load(json_file)

all_records = dict_1 + dict_2 + dict_3 + dict_4

# delete some key
for i in range(len(all_records)):
    del all_records[i]['url'], all_records[i]['title'], all_records[i]['description'], all_records[i]['images']

In [164]:
# dicts to dataframe and replace none to np.nan
df = pd.DataFrame(all_records).fillna(value=np.nan)

In [165]:
def split_number(data):
    try:
        return re.findall('[(\d+(\.\d+)?)|(\.?\d+)]+', data)[0]
    except:
        return np.nan

def extract_district(data):
    districts = ['Ba Đình', 'Hoàn Kiếm', 'Tây Hồ', 'Long Biên', 'Cầu Giấy', 'Đống Đa', 'Hai Bà Trưng', 'Hoàng Mai', 
                 'Thanh Xuân', 'Sóc Sơn', 'Đông Anh', 'Gia Lâm', 'Nam Từ Liêm', 'Thanh Trì', 'Bắc Từ Liêm', 'Mê Linh', 
                 'Hà Đông', 'Sơn Tây', 'Ba Vì', 'Phúc Thọ', 'Đan Phượng', 'Hoài Đức', 'Quốc Oai', 'Thạch Thất', 
                 'Chương Mỹ', 'Thanh Oai', 'Thường Tín', 'Phú Xuyên', 'Ứng Hòa', 'Mỹ Đức']
    
    for district in districts:
        if district.lower() in data:
            return district
    return np.nan


    
def process_data(df):
    # extract bedroom, toilet, acreage to number values
    df['bedroom'] = df['bedroom'].apply(split_number).astype(np.float64)
    df['toilet'] = df['toilet'].apply(split_number).astype(np.float64)
    df['acreage'] = df['acreage'].apply(split_number).astype(np.float64)

    # extract address to district values
    df['address'] = df['address'].apply(extract_district)
    
    # drop nan value of columns address, acreage, bedroom
    df = df.dropna(subset=['address', 'acreage', 'bedroom'])
    
    return df

In [166]:
df = process_data(df)

In [167]:
df

,address,bedroom,toilet,investor,acreage,price,lat,long,distance
0,Nam Từ Liêm,2.0,2.0,công ty cổ phần đầu tư mai linh,88.0,thỏa thuận,21.009386,105.773872,8.453731
1,Thanh Xuân,3.0,2.0,ocean group - tập đoàn đại dương,111.7,~32.2 triệu/m²,21.006182,105.806427,5.413824
2,Gia Lâm,2.0,2.0,tập đoàn vingroup,68.4,~27.7 triệu/m²,20.996325,105.932869,9.104289
3,Hai Bà Trưng,2.0,2.0,NaN,65.0,~29.2 triệu/m²,21.002986,105.865675,3.191921
4,Nam Từ Liêm,2.0,2.0,công ty cổ phần đầu tư mai linh,88.0,thỏa thuận,21.009386,105.773872,8.453731
...,...,...,...,...,...,...,...,...,...
16395,Hoàng Mai,2.0,2.0,NaN,71.0,~27.5 triệu/m²,20.956589,105.844887,8.087054
16396,Hai Bà Trưng,2.0,2.0,tập đoàn vingroup,78.0,~44.9 triệu/m²,20.996578,105.865196,3.831080
16397,Long Biên,2.0,2.0,công ty cp đầu tư xây dựng số 9 hà nội,54.0,thỏa thuận,21.035978,105.906296,5.644863
16398,Long Biên,2.0,NaN,tổng công ty đầu tư phát triển nhà và đô thị hud,85.0,~30.6 triệu/m²,21.062691,105.908333,6.914078
16399,Gia Lâm,2.0,2.0,tổng công ty viglacera,66.0,~1.3 tỷ,21.018948,105.947772,9.961067

In [169]:
df.count()

address     15398
bedroom     15398
toilet      13177
investor    12975
acreage     15398
price       15398
lat         15398
long        15398
distance    15398
dtype: int64